<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>nexa-black-webfont.ttf</string>
		<string>nexa-blackitalic-webfont.ttf</string>
		<string>nexa-bold-webfont.ttf</string>
		<string>nexa-bolditalic-webfont.ttf</string>
		<string>nexa-book-webfont.ttf</string>
		<string>nexa-bookitalic-webfont.ttf</string>
		<string>nexa-extrabold-webfont.ttf</string>
		<string>nexa-extrabolditalic-webfont.ttf</string>
		<string>nexa-heavy-webfont.ttf</string>
		<string>nexa-heavyitalic-webfont.ttf</string>
		<string>nexa-light-webfont.ttf</string>
		<string>nexa-lightitalic-webfont.ttf</string>
		<string>nexa-regular-webfont.ttf</string>
		<string>nexa-regularitalic-webfont.ttf</string>
		<string>nexa-thin-webfont.ttf</string>
		<string>nexa-thinitalic-webfont.ttf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Root</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
