<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1739704446044359</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1383698495011203</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>081c5e21d59aa6200fc7d8e23cced187b13e06e6</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>{facebook-app-id}</string>
	<key>FacebookDisplayName</key>
	<string>Movimenta</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We will only be accessing your calendar to add events to your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow camera usage</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access for verifying your location to the events nearby</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow photo library usage</string>
	<key>UIAppFonts</key>
	<array>
		<string>nexa-black-webfont.ttf</string>
		<string>nexa-blackitalic-webfont.ttf</string>
		<string>nexa-bold-webfont.ttf</string>
		<string>nexa-bolditalic-webfont.ttf</string>
		<string>nexa-book-webfont.ttf</string>
		<string>nexa-bookitalic-webfont.ttf</string>
		<string>nexa-extrabold-webfont.ttf</string>
		<string>nexa-extrabolditalic-webfont.ttf</string>
		<string>nexa-heavy-webfont.ttf</string>
		<string>nexa-heavyitalic-webfont.ttf</string>
		<string>nexa-light-webfont.ttf</string>
		<string>nexa-lightitalic-webfont.ttf</string>
		<string>nexa-regular-webfont.ttf</string>
		<string>nexa-regularitalic-webfont.ttf</string>
		<string>nexa-thin-webfont.ttf</string>
		<string>nexa-thinitalic-webfont.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Root</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
